{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container bg-amber-200">
    <h1>Hello {{ controller_name }}! ✅</h1>

        <div class="grid gap-4 grid-cols-3 grid-rows-3 bg-green-400">
            <!-- ... -->
        </div>
    </div>
{% endblock %}
