<!DOCTYPE html>
<html lang="Fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<style>
				html, body, main {
					height: 100%;
					margin: 0;
					padding: 0;
					overflow: hidden;
				}
			</style>
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<header>

		{% include 'menu/nav.html.twig' %}
	</header>
	<main>
		{% for message in app.flashes('success') %}
			<div class="flash flash-success">
				{{ message }}
			</div>
		{% endfor %}
		{% block body %}{% endblock %}
	</main>

	<footer>
		<div class="fixed bottom-0 right-0 left-0 z-10 w-full p-2 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">&copy;Sortir {{ "now" | date('Y') }}</div>
	</footer>
</html>
<!--Cc -->